@model Firma.Data.Data.CMS.Aktualnosc
@{

    ViewData["Title"] = Model.Tytul;
}

<h1 class="header center orange-text">Aktualnosc : @Model.Tytul</h1>
<div class="row center">
    <h5 class="header col s12 light"> @Model.Tresc</h5>
</div>

